<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780412628115-dsrle3b4qef13tprhqudmt28q2hdnu2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780412628115-dsrle3b4qef13tprhqudmt28q2hdnu2g</string>
	<key>API_KEY</key>
	<string>AIzaSyCuiY_DGDY0xpJqYRTvmVTPZpXWRt7mz_8</string>
	<key>GCM_SENDER_ID</key>
	<string>780412628115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinosoftlabs.foodies</string>
	<key>PROJECT_ID</key>
	<string>foodies-3d31e</string>
	<key>STORAGE_BUCKET</key>
	<string>foodies-3d31e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780412628115:ios:c57ea0a7233c2cbfea7166</string>
	<key>DATABASE_URL</key>
	<string>https://foodies-3d31e.firebaseio.com</string>
</dict>
</plist>